.project-search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    background-color: $color-clear-bold-gray;
    
}

.fa-map-marker-alt {
    padding: 0 20px 0 0;
}

.invit h2 {
    width: 74%;
    margin-inline: auto;
    margin-bottom: 20px;
    font-size: 1.35rem;

}

/*.invit p {
    margin-bottom: 25px;
}*/

.invit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: 200px;
    padding: 40px 0;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 1px;
    background-color: $color-light-gray;
}

.invit button {
    width: 220px;
    margin-inline: auto;
}

//---tablette 960px---

@media all and (min-width: 960px) {
    .formulaire_accueil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*width: 100%;*/
        height: 100%;
    }

    .invit {
        width: 100%;
        font-size: 1.2rem;
    }

    .invit h2 {

        font-size: 30px;
    }

    .invit button {
        width: 250px;
        height: 60px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        opacity: 80%;
    }
}

//---desktop 1280px---

@media all and (min-width: 1280px) {
    .project-search {
        
        letter-spacing: 0.2em;
    }

    .invit {
        width: 100%;
        font-size: 1.5rem;
    }

    .invit h2 {
        font-size: 40px;
    }

    .invit button {
        width: 310px;
        height: 60px;
        font-size: 17px;
        font-weight: 900;
        letter-spacing: 2px;
        opacity: 80%;
        margin-top: 20px;
    }
}