.footer_welcom {
    width: 100%;
    /*max-width: 500px;*/
    max-width: 1281px;
    background-color: $color-footer;
}

.footer_welcom ul {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    height: 150px;
    margin-left: 30px;
}

.footer_welcom h3 {
    font-weight: 500;
    color: white;
    padding: 30px 0px 20px 30px;
}

.footer_redirecting li a {
    color: white;

}

.footer_redirecting li {
    padding: 0 0 15px 0;
}

.fa-hands-helping {
    color: white;
    padding: 0 10px 0 0;
}

.fa-utensils {
    color: white;
    padding: 0 15px 0 0;
}