.project-search {
    display: flex;
    justify-items: center;
    width: 100%;
    max-width: 500px;
    background-color: $color-medium-gray;
    font-size: larger;
    font-weight: bolder;
    border-top: 3px solid $color-footer; //mettre la couleur en gris dégradé
}

.fa-map-marker-alt {
    margin: 0 0 0 100px;
    padding: 0 40px;

}

.invit h2{
    padding: 30px 100px 20px 100px;
    text-align: center;
}

.invit p{
    padding: 0px 50px 30px 50px;
    text-align: center;
}

.invit {
    display: block;
    text-align-last: center;
    margin-top: -23px;
    width: 100%;
    max-width: 500px;
    height: 350px;
    font-size: large;
    background-color: $color-light-gray;
}

.invit button {
    width: 280px;
    height: 60px;
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-size: large;
    
}