.project-search {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding-top: 20px;
    font-size: larger;
    font-weight: bolder;
  
    border-top: 4px solid linear-gradient($color-secondary-pink, $color-primary-purple); //mettre la couleur en gris dégradé
    background-color: $color-medium-gray;
}

.fa-map-marker-alt {
    padding: 0 20px;
}

.invit h2 {
    padding: 30px 100px 20px 100px;
}

.invit p {
    padding: 0px 50px 10px 50px;
}

.invit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 350px;
    font-size: large;
    text-align: center;
    letter-spacing: 2px;
    background-color: $color-light-gray;
}

.invit button {
    width: 280px;
}