.footer_welcom ul{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    height: 150px;
}

.footer_welcom h3 {
    color: white;
    padding: 30px 25px 0px 38px;
}

.footer_redirecting li a {
    color: white;

}

.footer_redirecting li {
    padding: 0 0 15px 0;
}

.footer_welcom {
    background-color: $color-footer;
}

.fa-hands-helping {
    color: white;
    padding: 0 10px 0 0;
}

.fa-utensils {
    color: white;
    padding: 0 15px 0 0;
}