.footer_welcom {
    width: 100%;
    background-color: $color-footer;
}

.footer_welcom ul {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    height: 150px;
    margin-left: 30px;
}

.footer_welcom h3 {
    font-weight: 500;
    color: $color-white;
    padding: 30px 0 20px 0;
}

.footer_redirecting li a {
    color: $color-white;
}

.footer_redirecting li {
    padding: 0 0 15px 0;
}

.fa-hands-helping {
    color: $color-white;
    padding: 0 10px 0 0;
}

.fa-utensils {
    color: $color-white;
    padding: 0 15px 0 0;
}

//---tablette 960px---

@media all and (min-width: 960px) {

    .footer_welcom {
        height: 150px;
    }

    .footer_welcom h3 {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 23px;
        letter-spacing: 4px;
        margin-bottom: 10px;
        padding: 20px 0 20px 0;
    }

    .footer_redirecting {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-size: 14px;
    }

    .footer_redirecting li {
        display: flex;
        justify-content: center;
        width: 180px;
        max-width: 180px;
        height: 50px;
    }
}

//---desktop 12080px---

@media all and (min-width: 1280px) {
    .footer_welcom h3 {
        font-weight: 500;
        font-size: x-large;
        letter-spacing: 4px;
        margin-bottom: 10px;
    }

    .footer_redirecting {
        font-size: large;
    }

    .footer_redirecting li {
        width: 250px;
        max-width: 250px;
    }
}