/*---pied de page---*/

.footer_welcom h1 {
    color: white;
}

.footer_welcom {
    background-color: black;
    color: white;
}

.fa-hands-helping {
    color: white;
}

.fa-utensils {
    color: white;
    padding: 0 5px 0 0;
}

.footer_welcom li {
    color: rgb(121, 26, 26);
}