.food_diner {
    background-color: $color-light-gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: 500px;*/
    max-width: 1281px;
    height: 1650px;

    
    @include desktop-only;
    
    @include desktop-only {
        width: 100%;
    }

    @include tablette-only;

    @include tablette-only {
        width: 100%;
    }

    @include mobile-only;

    @include mobile-only {
        width: 100%;
    }
}

.food_diner_list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden;
    /*width: 460px;*/
    width: 1241px;
    background-color: #a441a1;
    border-radius: 30px;

  

        @include desktop-only;
    
        @include desktop-only {
            width: 100%;
        }
    
        @include tablette-only;
    
        @include tablette-only {
            width: 100%;
        }
    
        @include mobile-only;
    
        @include mobile-only {
            width: 100%;
        }
    }


.food_diner h2 {
    margin: 40px 0 15px 0px;
}

.food_diner figure {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    /*max-width: 460px;*/
    max-width: 1241px;
    height: 100%;
    margin-top: 15px;
    border-radius: 25px 25px 25px 25px;

  

        @include desktop-only;
    
        @include desktop-only {
            width: 100%;
        }
    
        @include tablette-only;
    
        @include tablette-only {
            width: 100%;
        }
    
        @include mobile-only;
    
        @include mobile-only {
            width: 100%;
        }
    
}

.food_diner img {
    display: flex;
    overflow: hidden;
    /*width: 460px;*/
    width: 1241px;
    height: 280px;

    
    @include desktop-only;
    
    @include desktop-only {
        width: 100%;
    }

    @include tablette-only;

    @include tablette-only {
        width: 100%;
    }

    @include mobile-only;

    @include mobile-only {
        width: 100%;
    }
}

.food_diner figcaption {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*width: 460px;*/
    width: 1241px;
    background-color: white;

    
    @include desktop-only;
    
    @include desktop-only {
        width: 100%;
    }

    @include tablette-only;

    @include tablette-only {
        width: 100%;
    }

    @include mobile-only;

    @include mobile-only {
        width: 100%;
    }
}

.food_diner h4 {
    font-size: large;
    font-weight: bolder;
    color: black;
    margin: 15px 0px 5px 10px;
}

.food_diner p {
    color: black;
    margin: 0 0 15px 10px;
}

.food_diner .fa-heart {
    margin-left: 250px;
}

.la_palette_du_gout,
.la_note_enchantee {
    position: relative;
    text-align: left;
}

.new_text {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    text-align-last: center;
    padding-top: 10px;
    background-color: $color-tertiaire;
}

.food_diner .new_text {
    color: $color-primary; //nuance vert
}
