.food_diner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 1750px;
    margin-top: 100px;
    background-color: $color-light-gray;
}

.food_diner_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    overflow: hidden;
    width: 430px;
    gap: 20px;
}

.food_diner_list h2 {
    font-size: xx-large;
}

.food_diner figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 430px;
    margin: 0 0 20px 0;
    border-radius: 25px 25px 25px 25px;
}

.food_diner img {
    display: flex;
    overflow: hidden;
    width: 430px;
    height: 280px;
}

.food_diner figcaption .restaurant_name_accueil {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 50px 0 0;

}

.food_diner figcaption {
    width: 430px;
    background-color: white;
}

.food_diner h4 {
    font-size: large;
    font-weight: bolder;
    color: black;
    margin: 15px 0px 5px 10px;
}

.food_diner p {
    color: black;
    margin: 0 0 15px 10px;
}

.fa-heart {
    font-size: 30px;
}

.food_diner_list .fa-heart:hover {
    transition: 0.5s;
    background: linear-gradient($color-primary-purple, $color-secondary-pink);
}

.la_palette_du_gout,
.la_note_enchantee {
    position: relative;
    text-align: left;
}

.new_text {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    text-align-last: center;
    padding-top: 10px;
    background-color: $color-tertiaire-green;
}

.food_diner .new_text {
    color: $color-tertiaire-bold-green;
}

//---tablettee 960px---

@media all and (min-width: 960px) {
    body {
        width: 960px;
    }

    .food_diner {
        width: 960px;
        max-width: 960px;
        height: 1000px;
        margin: 0;
    }

    .food_diner_list {
        width: 960px;
        max-width: 960px;
        margin-left: 0;
        border-radius: 0;
    }

    .food_diner_list h2 {
        display: flex;
        justify-content: center;
        font-size: 50px;
        letter-spacing: 4px;
        background-color: $color-light-blue;
        border-radius: 12px;
        color: $color-footer;
    }

    .food_diner_list .food_diner_list_card_accueil {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        width: 95%;
        max-width: 960px;
        height: 1600px;
        margin: 20px 5px 5px 5px;
        gap: 30px;
    }

    .food_diner figure,
    .food_diner figcaption,
    .food_diner img {
        width: 420px;
        max-width: 420px;
    }
}

//---desktop 1280px---

@media all and (min-width: 1280px) {
    body {
        width: 1280px;
    }

    .food_diner {
        width: 1280px;
        max-width: 1280px;
        height: 1000px;
        margin: 0;
    }

    .food_diner_list {
        width: 1280px;
        max-width: 1280px;
        margin-left: 0;
        border-radius: 0;
    }

    .food_diner_list h2 {
        display: flex;
        justify-content: center;
        font-size: 50px;
        letter-spacing: 4px;
        background-color: $color-light-blue;
        border-radius: 12px;
        color: $color-footer;
    }

    .food_diner_list .food_diner_list_card_accueil {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        width: 95%;
        max-width: 1280px;
        height: 1600px;
        margin: 20px 5px 5px 5px;
        gap: 30px;
    }

    .food_diner figure,
    .food_diner figcaption,
    .food_diner img {
        width: 550px;
        max-width: 550px;
    }
}