.food_diner {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 1800px;
    margin-top: 100px;
    background-color: $color-light-gray;
}

.food_diner_list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden;
    width: 460px;
    gap: 30px;
    /*background-color: #327a69;*/
    border-radius: 30px;
}

.food_diner h2 {
    margin: 40px 0 15px 0px;
}

.food_diner figure {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 460px;
    /*height: 100%;*/
    /*margin-top: 15px;*/
    border-radius: 25px 25px 25px 25px;
}

.food_diner img {
    display: flex;
    overflow: hidden;
    width: 460px;
    height: 280px;
}

.food_diner figcaption .restaurant_name_accueil {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 50px 0px 0;

}

.food_diner figcaption {
    /*display: flex;
    /*flex-direction: column;
    overflow: hidden;*/
    width: 460px;
    background-color: white;
}



.food_diner h4 {
    font-size: large;
    font-weight: bolder;
    color: black;
    margin: 15px 0px 5px 10px;
}

.food_diner p {
    color: black;
    margin: 0 0 15px 10px;
}

.fa-heart {
    font-size: 30px;
}

.fa-heart:hover {
    transition: 0.5s;
    background: linear-gradient($color-primary-purple, $color-secondary-pink);
}



.la_palette_du_gout,
.la_note_enchantee {
    position: relative;
    text-align: left;
}

.new_text {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    text-align-last: center;
    padding-top: 10px;
    background-color: $color-tertiaire-green;
}

.food_diner .new_text {
    color: $color-tertiaire-bold-green;
}