/*---en-tête---*/

.image_restaurant {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 400px;
    z-index: 0;
}

/*---menus restaurants---*/

.restaurant_name{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 50px 0 20px;
}

.restaurant_name h1{
  
  font-size: 600;
  letter-spacing: 4px;
}

.contenair_menu_card .restaurant_name .fa-heart:hover{
    background: none; 
}

.contenair_menu_card .restaurant_name .fa-heart{
    background-color: none;
}

.contenair_menu_card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.contenair_menu_card {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
    width: 100%;
    max-width: 496px;
    height: 1450px;
    border: 2px solid transparent;
    border-radius: 55px 55px 0 0;
    background-color: $color-light-gray;
    z-index: 1;
    position: relative;
}

.contenair_menu_card figure {

    display: flex;
    flex-direction: column;
    width: 470px;
    max-width: 500px;
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 0 0 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: white;
}

.contenair_menu_card h2 {
    margin: 40px 20px 0 20px;
    border-bottom: 4px solid $color-tertiaire-green;
    width: 50px;
}

.contenair_menu_card figcaption {
    display: flex;
    justify-content: space-around;
}

/*.food_menu_price{
    margin-left: 100px;
}*/


button {
    width: 220px;
    margin: 40px 0px 40px 120px;
}