/*---logo restaurant accueil---*/
.logo_header_welcom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin: 40px 0 40px 0;
}

.logo_header_welcom img {
    width: 250px;
    height: 60px;
}

/*---logo restaurants food---*/

.logo_header_food {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    max-width: 480px;
    margin: 30px 30px 30px 20px;
}

.fa-arrow-left {
    margin: 15px 0px 0px 20px;
    font-size: 25px;
    color: black;
}

.logo_header_food img {
    width: 200px;
    height: 50px;
    margin-right: 150px;
}

/*---restaurants name---*/

.restaurant-name {
    display: flex;
    justify-content: space-around;
}

//---tablette 960px---

//---restant accueil--

@media all and (min-width: 960px) {
    .logo_header_welcom {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 960px;
        height: 150px;
        background-color: rgb(172 169 169 / 88%);
        margin: 0;
    }

    .logo_header_welcom img {
        width: 700px;
        height: 100px;
        margin-top: 25px;
        opacity: 50%;
    }

    //---restautant food--

    .logo_header_food {
        width: 100%;
        max-width: 940px;
        height: 100px;
    }

    .fa-arrow-left {
        margin: 15px 0px 0px 80px;
        font-size: 35px;
    }

    .logo_header_food img {
        width: 300px;
        height: 70px;
        margin-right: 350px;
    }
}

//---desktop 1280px---

//---restanrant accueil---

@media all and (min-width: 1280px) {
    .logo_header_welcom {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1280px;
        height: 150px;
        background-color: rgb(172 169 169 / 88%);
        margin: 0;
    }

    .logo_header_welcom img {
        width: 700px;
        height: 100px;
        margin-top: 25px;
        opacity: 50%;
    }

    //---restautant food--

    .logo_header_food {
        width: 100%;
        max-width: 1260px;
        height: 100px;
    }

    .fa-arrow-left {
        margin: 15px 0px 0px 250px;
        font-size: 35px;
    }

    .logo_header_food img {
        width: 300px;
        height: 70px;
        margin-right: 350px;
    }
}