/*--- logo restaurant accueil---*/

.logo_header_welcom img {
    display: flex;
    margin: auto;
    /*text-align: center;*/
    width: 100%;
    max-width: 480px;
    /*background-color: white;*/
    width: 250px;
    height: 60px;
}

/*--- logo restaurants food---*/

.logo_header_food img {
    display: flex;
    justify-content: space-between;
    margin: auto;
    /*text-align: center;*/
    width: 100%;
    max-width: 480px;
    background-color: rgb(219, 223, 230);
    width: 250px;
    height: 60px;
}

