.logo_header_welcom img {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 480px;
    background-color: white;
    width: 250px;
    height: 60px;
}

.logo_header_food {
    background-color: white;
}