/*---logo restaurant accueil---*/

.logo_header_welcom img {
    display: flex;
    margin: 50px 0px 50px 120px;
    width: 250px;
    height: 60px;
}

/*---logo restaurants food---*/

.logo_header_food{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    max-width: 480px;
    margin: 30px 30px 30px 20px;  
}

.fa-arrow-left{
    margin: 15px 0px 0px 20px;
    font-size: 25px;
}

.logo_header_food img {
    width: 200px;
    height: 50px;
    margin-right: 150px;
    
}

/*---restaurants name---*/

.restaurant-name {
    display: flex;
    justify-content: space-around;
}