/*---logo restaurant accueil---*/
.logo_header_welcom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    position: relative;
    box-shadow: 2px 18px 13px -24px $color-icon-gray;
    z-index: 10;
}

.logo_header_welcom img {
    width: 188px;
}

/*---logo restaurants food---*/

.logo_header_food {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding: 15px 20px 15px 40px;
}

.fa-arrow-left {
    font-size: 25px;
    color: black;
}

.logo_header_food img {
    width: 55%;
    margin-inline: auto;
}

/*---restaurants name---*/

.restaurant-name {
    display: flex;
    justify-content: space-around;
}

//---tablette 960px---

//---restant accueil--

@media all and (min-width: 960px) {
    .logo_header_welcom {
        margin: 0;
    }

    .logo_header_welcom img {
        width: 550px;
        margin-top: 25px;
    }

    //---restautant food--

    .fa-arrow-left {
        font-size: 35px;
    }

    .logo_header_food img {
        width: 300px;
    }
}
