/*---logo restaurant accueil---*/

.logo_header_welcom img {
    display: flex;
    margin: 50px 0px 50px 120px;
    width: 250px;
    height: 60px;
}

/*---logo restaurants food---*/

.logo_header_food img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 0 30px 20px;
    /*text-align: center;*/
    width: 100%;
    /*max-width: 480px;*/
    max-width: 1261px;
    background-color: rgb(219, 223, 230);
    width: 250px;
    height: 60px;
}

/*---restaurants name---*/

.restaurant-name {
    display: flex;

    justify-content: space-around;

}