.function{
    display: flex;
    flex-direction: column;
    
}

.function h2{
    margin-left: 30px;
}


.choice1, .choice2, .choice3{
    height: 40px;
    width: 300px;
    
    padding-top: 25px;
    margin: 20px 0 20px 0;
    
    padding-right: 20px;
    border: #e9e3e3 2px solid;
    border-left-style: none;
    border-radius: 25px 25px 25px 25px;
    text-align-last: center;
    font-weight: bold;
    font-size: small;
    background-color: $color-light-gray;
}
.number{
    /*border-radius: 50px;
    /*min-width: 50px;
    width: 100px;
    height: 100px;*/
    background-color: $color-primary;
    color: white; 
}
.fa-mobile-alt, .fa-list-ul{
    color: $color-icon-gray;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.fa-store{
    color: $color-primary;
    font-size: 15px;
    padding: 0 20px 0 20px;
    

}