.function{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1281px;
    background-color: aqua;
}

.function h2{
    /*margin-left: 30px;*/
    margin: 20px 0 0 30px
}

.choice1, .choice2, .choice3{
    height: 90px;
  
    /*width: 460px;*/
    width: 1241px;
    margin: 20px 0px 20px 10px;
    padding-right: 20px;
    border-left-style: none;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    font-size: 26px;
    background-color: $color-light-gray;
}
.number{
    /*border-radius: 50px;
    /*min-width: 50px;
    width: 100px;
    height: 100px;*/
    background-color: $color-primary;
    color: white; 
}
.fa-mobile-alt, .fa-list-ul{
    color: $color-icon-gray;
    font-size: 45px;
    padding: 0 30px 0 30px;
}

.fa-store{
    color: $color-primary;
    font-size: 50px;
    padding: 0 30px 0 30px;
    

}
