.function {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    /*background-color: aqua;*/
}

.function h2 {
    margin: 40px 0 30px 20px;
}

.function ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 450px;
    gap: 40px;
}

.choice1,
.choice2,
.choice3 {
    display: flex;
    align-items: center;
    width: 450px;
    height: 100px;
    gap: 20px;
    border-left-style: none;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    font-size: 20px;
    background-color: $color-light-gray;
    box-shadow: 5px 5px 5px 10px $color-medium-gray;
}

.choice1:hover {
    background-color: $color-light-blue;
    transition: 0.3s;
}

.choice2:hover {
    background-color: $color-light-blue;
    transition: 0.3s;
}

.choice3:hover {
    background-color: $color-light-blue;
    transition: 0.4s;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -10px;
    width: 40px;
    height: 40px;
    background-color: $color-primary-purple;
    color: white;
}

.fa-mobile-alt {
    display: flex;
    justify-content: center;
    color: $color-icon-gray;
    font-size: 40px;
    padding: 0 30px 0 30px;
}

.fa-list-ul {
    display: flex;
    justify-content: center;
    color: $color-icon-gray;
    font-size: 30px;
    padding: 0 30px 0 30px;
}

.fa-store {
    display: flex;
    justify-content: center;
    color: $color-primary-purple;
    font-size: 30px;
    padding: 0 30px 0 30px;
}