.function {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.function h2 {
    margin: 40px 0 30px 20px;
}

.function .function_choice {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 95%;
    gap: 20px;
}

.choice1,
.choice2,
.choice3 {
    display: flex;
    align-items: center;
    /*width: 270px;*/
    width: 96%;
    height: 60px;
    gap: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-left-style: none;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    /*font-size: 20px;*/
    /*font-size: 1.1em;*/
    background-color: $color-light-gray;
    box-shadow: -1px 3px 2px 6px $color-clear-gray;
    transition: 0.4s linear;

    &:hover {
        background-color: $color-light-blue;
    }

}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -14px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-color: $color-primary-purple;
    color: white;
}

.fa-mobile-alt,
.fa-list-ul {
    color: $color-icon-gray;
    font-size: 1.5em;
}

.fa-store {
    color: $color-primary-purple;
    font-size: 1.5em;
}

//---tablette 960px---

@media all and (min-width: 960px) {
    .function {
        height: 250px;
    }

    .function h2 {
        text-align: center;
        font-size: 20px;
        font-size: 40px;
        margin: 30px 0 50px 0;
        letter-spacing: 4px;
    }

    .function .function_choice {
        flex-direction: row;
        justify-content: center;
        width: 97%;
        gap: 35px;
    }

    .choice1,
    .choice2,
    .choice3 {
        width: 380px;
        height: 65px;
        gap: 5px;
        font-size: 13px;
    }
}

//---desktop 1280px---

@media all and (min-width: 1280px) {
    .function h2 {
        margin: 30px 0 45px 0;
        letter-spacing: 3px;
    }

    .function .function_choice {
        width: 95%;
    }

    .choice1,
    .choice2,
    .choice3 {
        height: 80px;
        gap: 8px;
        font-size: 15px;
    }
}