/*---en-tête---*/

$color-primary-purple: #9356dc;
$color-secondary-pink: #ff79da;
$color-secondary-light-pink: pink;
$color-tertiaire-green: #99e2d0;
$color-tertiaire-bold-green: green;
$color-light-blue: rgb(227, 228, 250);
$color-medium-gray: rgb(234, 231, 231);
$color-light-gray: rgb(241, 244, 244);
$color-icon-gray: rgb(172, 169, 169);
$color-footer: rgb(60, 58, 58);
$font-family-text: Roboto, sans-serif;
$font-family-title: Shrikhand;


//dimensions standard desktop 1280px ; tablette 960px ; moble 481px    

//mobile pour mon écran ce sera 500px) 


* {
    list-style: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    margin-inline: auto;
    justify-content: center;
    font-family: $font-family-text;
}

button {
    height: 65px;
    border-radius: 50px 50px 50px 50px;
    color: white;
    font-size: large;
    background: linear-gradient($color-secondary-pink, $color-primary-purple);
    border: none;
}