//dimensions standard desktop 1280px ; tablette 960px ; moble 480px    
 


* {
    list-style: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    justify-content: center;
    font-family: $font-family-text;
}

/*.contenair_menu_card p{
    font-weight: bolder;
    
}*/

.card-food-ingredients{
    text-overflow: ellipsis;
}

.card-food-price{
    font-weight: bold;
}



.choice_card_ok{
    display: flex;
    flex: 0%;
    color: $color-white;
    background-color: $color-tertiaire-green;
    font-size: xx-large;
    text-align: center;
    /*height: 165px;*/
    line-height: 165px;
    white-space: nowrap;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    /*transform: translateX(10%);*/
    cursor: pointer;
    transition: all 500ms;
    margin-left: 200px;
}

/*card:hover > .choice_card_ok{
    flex : 25%;
    transform: translateX(0px);
    background-color: $color-tertiaire-bold-green;
    cursor: pointer;
    color: $color-tertiaire-green
}

card:hover > .card_food{
    flex: 75%;
}

.card:hover .fa-check-circle{
    transform: rotate(0deg);
}

.fa-check-circle{
    transform: rotate(359deg);
}*/





button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    color: $color-white;
    font-size: medium;
    background: linear-gradient($color-secondary-pink, $color-primary-purple);
    border: none;
}