@charset "UTF-8";

/*---OHMYFOOD P3---*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "./utils/&\ _variables.scss"; //laisser la variables en tête de liste

@import "./base/&\ _police.scss";

@import "./utils/&\ _fonctionnement.scss";

@import "./layout/&_head-header.scss";

@import "./layout/&\ _formulaire_welcom";

@import "./layout/&\ _restaurants_accueil.scss";


@import "./layout/&\ _footer.scss";







button {
    background-color: $color-secondary;
    border: none;

}


/*---présentation restaurants accueil---*/





/*---les 4 restaurants---*/

/*---formulaire---*/

.image_restaurant {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 255px;
    height: 125px;
}





/*---menus restaurants---*/

.contenair_menu_card {
    background-color: $color-light-gray;
}




@media all and (max-width:500px)
{
    body{
        width: auto;
        margin: 0 auto;
    }
}