@charset "UTF-8";

/*---OHMYFOOD P3---*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "./utils/&\ _variables.scss";

@import "./utils/&\ _fonctionnement.scss";

@import "./base/&\ _police.scss";

@import "./layout/&\ _footer.scss";




/*---restaurants accueil---*/

/*---en-tête---*/

.logo_header {
    background-color: white;

}

button {
    background-color: $color-secondary;
    border: none;

}

.project-search {
    background-color: $color-headband;
}

.invit {
    background-color: $color-sign;
}

/*---présentation restaurants accueil---*/

.food_diner {
    background-color: $color-sign;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 2%;

}

.food_diner figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 20px 5px 5px 5px;
    background-color: white;
    border-radius: 20px;
}

.food_diner img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 480px;
    height: 300px;
    margin: 5px;
    padding: 2px 2px 0 2px;
    border-radius: 20px 20px 0 0;
}

.food_diner figcaption {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 480px;
    padding-bottom: 5px;
    margin: 2px 0 2px 18px;
}




/*---les 4 restaurants---*/

/*---formulaire---*/

.image_restaurant {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 255px;
    height: 125px;
}





/*---menus restaurants---*/

.contenair_menu_card {
    background-color: $color-sign;
}




@media all and (max-width:500px)
{
    body{
        width: auto;
        margin: 0 auto;
    }
}